body {
    font-family: 'Lucida Sans', Arial, sans-serif;
}

header {
    color: black;
    padding: 30px;
}

h1 {
    margin: 40px;
    color: black;
    font-size: 50px;
    
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
}

p {
    font-size: 18px;
}

ul {
    font-size: 20px;
    color: rgba(167, 7, 15, 0.957);
}

footer {
    color: black;
    text-align: center;
    text-decoration-line: overline;
}

img {
    width: 300px;
    height: 500px;
    border-radius: 70px;
}
